.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40vw;
    height: 90vh;
    align-self: end;

    .content-loader {
        width: 40vw;
        height: 80vh;
    }

    .content-heading {
        text-align: center;

        h1 {
            font-weight: normal;
            color: var(--font-color);
            font-size: 1.75rem;
        }

        h2 {
            font-weight: normal;
            color: rgba(var(--font-color-rgb), .5);
            font-size: 1rem;
            margin-top: .25rem;
        }
    }

    .content {
        width: 40vw;
        max-width: 1200px;
        margin-top: 5rem;
        padding-right: 2vw;
        transform: translateX(2vw);
    }

    ::-webkit-scrollbar {
        width: 12px;
        //TODO Reduce scrollbar height
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(var(--main-2-rgb), .5);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--main-2);
        border-radius: 5px;
    }
}
