#navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .75rem;
    position: absolute;
    top: calc(4vh + 40px + 4vh);
    right: calc(4vh + 5px);

    a {
        text-decoration: none;
        color: var(--font-color);
        font-weight: lighter;
        &:hover {
            color: $splash;
        }
    }
}
