#minecraft-cta {
    width: max-content;
    //transform: translateX(-50%);
}

#minecraft-link-modal {
    p {
        //text-align: center;
        margin-left: 5px;
    }
}

#minecraft-setup-confirm {
    form {
        button {
            align-self: center !important;
        }
    }
}
