.card {
    border-radius: 15px;
    padding: 2rem;
    width: max-content;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -moz-box-shadow: 0 0 10px rgba(#333344, .2);
    -webkit-box-shadow: 0 0 10px rgba(#333344, .2);
    box-shadow: 0 0 10px rgba(#333344, .2);
    cursor: pointer;
}

.card-large {
    //background-color: $splash;
}
